body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

nav
{
    background-color: rgb(255, 166, 0);
    box-shadow: 0 0px 10px rgba(0, 0, 0,0.5);
    padding-right: 50px;
    height: 65px;
}

footer
{
    background-color:rgb(255, 166, 0);;
}

nav ul
{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-block-start: 0px;
    margin-block-end: 0px;
    align-items:center;
    padding: 0px;
}

.logo
{
    height: 56px;;
}

nav li 
{
    border-left: black 1px solid;
}
nav a
{  
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 16px;
}
.placeholder
{
    display: flex;
    justify-content: center;
}
.search
{
    margin-left:2px;
}

nav .recherche
{
    outline: none;
    border: none;
    margin-top:2px;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 200%;
    background: #e6e6e6;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.reseau ul
{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-block-start: 0px;
    margin-block-end: 0px;
    align-items:center;
    padding: 0px;
}

.glass
{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 166, 0);
    border: none;
    font-size: xx-large;
}

.fa-desktop
{
  font-size: xx-large;
  size: 50px;
  color: black;
}
.fa-hands-helping
{
   margin:15px;
}

.components
{
    margin-top:1px;
    outline: none;
    border: none;
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 20px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}
.swiper-container
{
    margin-top: 2px;
    height: 400px ;
    width: 100%;
}

.swiper-slide
{
    background-size: cover;
}
.slide-1
{
    background-image: url("images/11214_b.jpg");
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

.slide-2
{
    background-image: url("images/11219_b.jpg");
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

.slide-3
{
    background-image: url("images/11231_b.jpg");
    background-position: center;
    display: flex;
    justify-content:center;
    align-items:flex-end;  
}

.banniere
{
    height:400px ;
}

.texte
{
    color: white;
}

.texte h1 {
    font-size: 36px;
    margin: 0px;
}

.soustexte
{
   text-align: center; 
   font-size: 25px;
   padding-bottom: 26px;

}

.content
{
    display: flex; 
    justify-content:space-evenly; 
}

aside
{
    width: 25%;
}

.presentation
{
    width: 70%;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

th,td
{
    border-bottom: 2px solid black;
}

.informations img
{
    display: block;
    margin: 0  ;
    width: 30%;
}

.informations p
{
    text-decoration: underline;
    margin-top: 26px ;
}

aside .informations, aside .diponibilite
{
    box-shadow: 0 1px 5px rgba(0, 0, 0,0.15);
    padding-bottom:8px;
    border-radius: 8px;
    margin-top: 16px;
}

h2
{
    margin-block-start:0px;
    margin-block-end: 2px;
    text-align: center;
    background-color: rgb(255, 166, 0);;
    border-radius: 8px;
    padding-right:32px;
    padding-left: 32px;
    margin-bottom: 5px;
}

.diponibilite p
{
    margin-block-start:4px;
    margin-block-end: 4px;
}

aside .horaires, aside .formation
{
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    text-decoration: underline;
}

.client
{
    padding-right:50px;
}
.service
{
    text-align: center;
    padding-right: 16px;
    width: 300px;
    height: 300px;
    position: absolute;
    right:180px;
    top:65px;
    z-index:4;
    background-color: rgb(255, 166, 0);;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px ;
    visibility: hidden;
    opacity: 0; 
}

.login
{
    padding-right: 16px;
    width: 180px;
    height: 300px;
    position: absolute;
    right:0px;
    top:65px;
    z-index:4;
    background-color: rgb(255, 166, 0);;
    border-bottom-left-radius:16px ;
    visibility: hidden; 
    opacity: 0; 
}

.tendance
{
    text-align: center;
    padding-right: 16px;
    width: 300px;
    height: 300px;
    position: absolute;
    right:500px;
    top:65px;
    z-index:4;
    background-color: rgb(255, 166, 0);;
    border-bottom-left-radius:16px ;
    border-bottom-right-radius:16px ;
    visibility: hidden; 
    opacity: 0; 
}

.login-link:hover .login
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.client:hover .service
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.produits:hover .tendance
{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.reseau
{
    font-size: xx-large;
    text-align:center;
    color: white;
    margin-bottom: 30px;
}

footer
{
    margin-top: 15px;
}
footer ul
{
    list-style: none;
    display:flex;
    justify-content: space-between;
    margin-block-start: 0px;
    margin-block-end: 0px;
    align-items:center;
    padding: 0px;   
}
footer img
{
    width: 50px;
}

.twitter
{
    width: 90px;
}

.youtube
{
    margin-left: 5px;
}

.discord
{
    margin-right: 5px;
}